body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:'Open Sans',sans-serif;
  background: url(../img/background_img.jpg);
  background-size: 100%;
  text-align: center;
}

#leaderboard{
    margin: auto;
    width:75%;
}

h1{
    float: left;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    margin: auto;
    border-spacing: 0;
    width: 100%;   
    background:#fff; 
}

.tablesorter {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.tablesorter tbody{
    background:#fff; 
    width: 100%;
}

.tablesorter tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.tablesorter td, .tablesorter th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 15px;
    text-align: left;    
}

.tablesorter th {
    background-color: #e98410;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.tablesorter td:first-child, .tablesorter th:first-child {
    border-left: none;
}

.tablesorter th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.tablesorter th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.tablesorter th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.tablesorter tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.tablesorter tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}


th.headerSortUp { 
    background-image: url(http://www.predig.com/images/PD213/Digital_Pressure_Gauge_up.gif); 
    background-color: #3399FF; 
} 

th.headerSortDown { 
    background-image: url(http://www.web-bite.co.uk/images/arrow_small_down.png); 
    background-color: #3399FF; 
} 
th.header { 
    background-image: url(http://www2.psd100.com/icon/2013/08/2701/Up-arrow-down-arrow-icon-0827122212.png); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

.button{
    background:#eee;
    text-decoration:none;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:25px;
    font-weight:bold;
    padding:3px 5px;
    border:1px solid #aaa;
    border-radius:3px;
}