@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  background:#f6f5f1;
  font-family:'Open Sans',sans-serif;
  background: url(../img/background_img.jpg);
  background-size: 100%;
}


#commitment{
  font-weight: bold;
  color: green;
  text-align: center;
}


#body{
  text-align: center;
}

.button{
	border-radius:10px;
    box-shadow: 5px 5px 5px #888888;
    margin-right: 10px;
}

.about{
  margin: 0 auto;
}

#about_body{
  color: black;
  font-weight: 600; 
  font-size: 18px;

}

#about{
  text-align: center;
  font-size: 32px;
  color: black;

}

#red{
  color: red;
}

#blue{
  color: blue;
}

#orange{
  color: #d68516;
}

#yellow{
  color: yellow;
}

#green{
  color: green;
}
