@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:'Open Sans',sans-serif;
  background: url(../img/background_img.jpg);
  background-size: 100%;
  background-repeat:none;
  text-align: center;
}


#commitment{
  font-weight: bold;
  color: green;
  text-align: center;
  font-size: 30px;
}


#body{
  text-align: center;
}

.button#start_button{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e98410), color-stop(1, #e98410) );
  background:-moz-linear-gradient( center top, #e98410 5%, #e98410 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e98410', endColorstr='#e98410');
  background-color:#e98410;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:22px;
  font-weight:bold;
  font-style:normal;
  height:60px;
  line-height:60px;
  width:150px;
  text-decoration:none;
  text-align:center;
}

.button#start_button:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e98410), color-stop(1, #e98410) );
  background:-moz-linear-gradient( center top, #e98410 5%, #e98410 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e98410', endColorstr='#e98410');
  background-color:#e98410;
}

.about{
  margin: 0 auto;
  width: 75%;
}


#about_body{
  color: black;
  font-weight: 600; 
  font-size: 18px;
  background-color: #e98410;

}

#about{
  text-align: center;
  font-size: 32px;
  color: black;
  width: 75%;
}

#red{
  color: red;
}

#blue{
  color: blue;
}

#orange{
  color: white;
}

#yellow{
  color: yellow;
}

#green{
  color: green;
}
