@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
    height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:'Open Sans',sans-serif;
  background: url(../img/background_img.jpg);
  background-size: 100%;
  text-align: center;
}


#commitment{
  font-weight: bold;
  color: green;
  text-align: center;
}


#body{
  text-align: center;
}

#start_button{
  width:100px;
  background:#e98410;
  display:inline;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  transition:background .3s;
  -webkit-transition:background .3s;
	border-radius:10px;
  box-shadow: 5px 5px 5px #888888;
  margin-right: 10px;
}

.about{
  margin: 0 auto;
  width: 75%;
}


#about_body{
  color: black;
  font-weight: 600; 
  font-size: 18px;
  background-color: #e98410;

}

#about{
  text-align: center;
  font-size: 32px;
  color: black;
  width: 75%;
}

#red{
  color: red;
}

#blue{
  color: blue;
}

#orange{
  color: white;
}

#yellow{
  color: yellow;
}

#green{
  color: green;
}
