body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:'Open Sans',sans-serif;
  background: url(../img/background_img.jpg);
  background-size: 100%;
  text-align: center;
}

strong{
  color: white;
  background-color: #e98410;
  border: 2px solid;
  border-radius: 10px;
}

#logo {
    display:block;
    height:120px;
    width:260px;
    float:left;
    margin-left: 30px;
    margin-top: 20px;
    background: none !important;
    border: none !important;
}

#header{
  color: white;
  width: 100%;
  height: 100px;
  opacity: 0.85;
 /* background-color: #e98410;*/
}

#header a{
  text-decoration: none;
  font-size: 22px;
  color: black;
  opacity: 0.85;
}

#header a:hover {
    color: #e98410;
    text-decoration: underline;
}

img{
  float:left;
}

#nav_menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
  margin-top: 15px;
 
}

#nav_menu li{
  display: inline;
  margin-right: 15px;
}

