strong{
  color: white;
  background-color: #e98410;
  border: 2px solid;
  border-radius: 10px;
}

#logo {
    display:block;
    height:100px;
    width:240px;
    float:left;
    margin-left: 30px;
    margin-top: 20px;
    background: none !important;
    border: none !important;
}

#header{
  color: white;
  width: 100%;
  height: 100px;
  opacity: 0.85;
 /* background-color: #e98410;*/
}

#header a{
  text-decoration: none;
  font-size: 22px;
  color: black;
  opacity: 0.85;
}

#header a:hover {
    color: #e98410;
    text-decoration: underline;
}

img{
  float:left;
}

#nav_menu{
  text-align: right;
}

li{
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
}

.button{
    background:#eee;
    text-decoration:none;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:25px;
    font-weight:bold;
    padding:3px 5px;
    border:1px solid #aaa;
    border-radius:3px;
}